/* 
    Created on : 28 avr. 2014, 11:39:19
*/

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        outline: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual Styling */
/*body *{
    box-sizing: border-box;
}*/

body{
    background-color: #fffdfa;
    font-family: "Myriad Pro", "Calibri", Arial, Helvetica, sans-serif;
}

/*a:visited{
    color: #00e;
}*/

.clear{
    clear: both;
    padding: 0;
    margin: 0;
}

.header{
    position: relative;
    width: 100%;
    min-width: 1366px;
    height: 80px;
    background-color: #003A78;
}

.logo{
    line-height: 40px;
    vertical-align: middle;
    
    display: inline-block;
    background: url('/bart1/timg/files/img/w/logo_tqr_final.png') center no-repeat;
    background-size: 51%;
    color: #003A78;
    text-align: center;

    height: 40px;
    width: 246px;
    margin: 20px 40px;   
}

/* Sélecteur de langue */
/*
.lang_container{
    position: absolute;
    right: 40px;
    bottom: 20px;
    display: inline-block;
    
    color: #ffffff;
    
    height: 30px;
}

.lang{
    height: 30px;
    width: 114px;   
    line-height: 30px;
    
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    background-color: #ffffff;
    padding-left: 7px;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    
    display: inline-block;
    float: right;
    position: relative;
}

.langlist{
    position: absolute;
    top: 0;
}
.langlist a{
    color: #333333;
    text-decoration: none;
}
.langlist a:hover{
    color: #fffdfa;
    background-color: #a7a7a7;
}
.langlist ul{
    margin-left: -7px;
    width: 121px;
}
.langlist li{
    width: 121px;
    padding-left: 7px;
    margin-left: -7px;
}
.langlist li:hover{
    color: #fffdfa;
    background-color: #a7a7a7;
}

.langlist .lang_current a{
    color: #333333;
}
.langlist .lang_current:hover{
    color: #333333;
    background-color: #ffffff;
}
.langlist lang_current a:hover{
    color: #333333;
    background-color: #ffffff;
}
.langlist .lang_current li:hover{
    color: #333333;
    background-color: #ffffff;
}

.langplus{
    position: absolute;
    top: 25%;
    right: 5px;
    
    height: 16px;
    width: 16px;
    
    background: #ffffff url('/bart1/timg/files/img/w/lang_selector.jpg') no-repeat;
    border-radius: 4px;
}
*/
/* Fin du sélecteur de langue */

.screensize{
    width: 1366px;
    margin: auto;
}

.screensize * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* CHROME, SAFARI*/
    -moz-box-sizing: border-box;
}

.theater{
    position: fixed;
    height: 100%;
    //min-height: 1127px;
    width: 100%;
    background-color: #333;
    opacity: 0.7;
    z-index: 7;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.error_border{
    border-color: red !important;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

/********* Common Footer **********/

#for-gen-ftr-wraper {
    margin: 0 auto 25px auto;
}


#general_footer {
    font-size: 12px;
    display: block;
    margin: 20px auto 0px auto;
    padding: 8px;
    border-radius: 5px;
    height: 40px;
    /*width: 540px;*/
    margin-bottom: 20px;
}

.footerbox {
    vertical-align: top;
    display: inline-block;
    width: 55px;
    height: 1px;
    float: left;
    //border: 1px solid black;
}

#footerbrand {
    display: inline-block;
    float: left;
}
/*
.stretch{
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
*/
#footercontent {
    display: inline-block;
    /*width: inherit;*/ 
    width: 100%; 
    
    overflow: auto; 
    
    /*text-align: right;*/
}

#footerchoices {
    float: right;
}

.footerlink {
    display: inline-block;
    color: #111 !important;
    margin: 0 13px 20px 0;
}
.footerlink.brand {
    margin: 0 40px 20px 0;
}
/*.footerlink:last-of-type{
    margin: 0 0 20px 0;
}*/
.footerlink, .pfl_footerlink a:visited{
    color: #111 !important;
    text-decoration: none;
}
.footerlink:hover{
    text-decoration: underline;
}

/* Fin Footer */

.jsw_main_warning{
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 20px;
    width: 40%;
    right: 0;
    left: 0;
    display: inline-block;
    margin: auto;
    background: rgba(100%, 73%, 25%, 0.9);
    border: 1px solid #c68000;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: "Calibri", "Myriad Pro", arial, sans-serif;
}
.jsw_title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
.jsw_sub{
    font-size: 12px;
}

.spinner{
    display: none;
    height: 20px;
    width: 20px;
    background: url(/bart1/timg/files/img/w/anim_loading.gif) center no-repeat;
}
