/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        outline: 0;
        
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual Styling */
html {
    width: 100%;
    height: 100%;
}
html * {
    outline: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fffdfa;
    
    font-family: "Myriad Pro", "Calibri", Arial, Helvetica, sans-serif;
}

div[s-id] {
    width: 100%;
    height: 100%;
}

a:visited{
    color: #00e;
}

.clear{
    clear: both;
}

.error_border{
    border-color: red !important;
}

div[s-id] .header {
    width: 100% !important;
    min-width: 850px !important;
}

#cnx_screensize{
    width: 100%;
    min-width: 850px;
    margin: auto;
    padding-top: 25px;
}

#cnx_screensize * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* CHROME, SAFARI*/
    -moz-box-sizing: border-box;
}

#cnx-header-it-free {
    /*border: 1px solid #eaeaea;*/
    width: 750px;
    margin: 5px 0 25px;
    padding: 10px 30px;
    background: rgba(0,0,0,0.04);
    box-sizing: border-box;
    
    position: relative;
    
    color: #444;
    font-family: "open sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
}
#cnx-header-it-free::before {
    content: "\f0f3";
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffb934;
    
    position: absolute;
    top: -10px;
    left: -10px;
    
    font-family: FontAwesome;
    color: #000;
    text-align: center;
    line-height: 30px;
}

#cnx-header-it-free b {
    color: #6a9bcc;
}
    
#cnx_space_taken{
/*    width: 750px;*/
/*    margin: 0 auto 25px auto;*/
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 0;
    background-color: #fff;
    
    font-family: Arial, sans-serif !important;
}

#cnx_content{
    margin-left: 25px;
    width: 520px;
    display: inline-block;
}

#cnx_title{
    width: 520px;
    margin-bottom: 25px;
    
    font-family: "Open sans", "Myriad Pro", Calibri, Arial, sans-serif;
    font-size: 22px;
    /*font-weight: bold;*/
    text-align: center;
}

#cnx_msg {
    display: block;
    text-align: justify;
    width: 480px;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 18px;
  /*margin-bottom: 25px;*/
}

#cnx-msg-wpr {
    margin-top: 0;
    
    font-family: "Open sans", Calibri, Arial, sans-serif;
    font-size: 13px;
}

#cnx-msg-wpr b {
    font-weight: bold;
}

#cnx-msg-wpr i {
    font-style: italic;
}

#cnx_msg.onerror {
    border: 1px solid #FD9D9D;
    background-color: #F5BFC8;
    
    font-family: "Open sans", "Myriad Pro", Calibri, Arial, sans-serif;
}

#cnx_msg.std {
    background-color: #eee;
    border: 1px solid #ddd;
}

#cnx_form_error{
    display: none;
    font-size: 14px;
    width: 480px;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: pink;
    border: 1px solid red;
    margin-bottom: 15px;
}

#cnx_form_wrapper{
/*    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;*/
    width: 480px;
    padding: 20px;
}

.cnx_grp{
    position: relative;
    margin-bottom: 25px;
    font-size: 16px;
}
.cnx_hidden_grp{
    display: none;
}

.cnx_label{
    width: 150px;
    margin-right: 20px;
    display: inline-block;
    text-align: right;
    font-size: 15px
}
.cnx_input{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    padding: 5px 6px;
    
    font-family: inherit;
    font-size: 14px;
}

#cnx_session_wrapper{
    margin: 3px 20px 0 0;
    font-size: 13px;
    text-align: right;
}
#cnx_session_checkbox{
    height: 10px;
    outline: 0;
}

#cnx_forgotten_pw{
    margin: 10px 20px 0 0;
    
    font-size: 13px;
    text-align: right;
}

#cnx_forgotten_pw a {
    
    color: #3B59AC;
    text-decoration: none;
}
    
#cnx_forgotten_pw a:hover {
    text-decoration: underline;
}    
    
#cnx_submit{
    border: 1px solid #0b76e6;
    border-radius: 4px;
    margin-right: 25px;
    width: 110px;
    height: 31px;
    outline: 0;
    background: url('/bart1/timg/files/img/w/btn_gradient.jpg') repeat-x;
    background: -webkit-linear-gradient(#3799ff, #007eff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3799ff, #007eff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3799ff, #007eff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3799ff, #007eff); /* Standard syntax */
    outline: 0;
    
    float: right;
    cursor: pointer;
    
    color: #ffffff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
}
#cnx_submit:active{
    background: url('/bart1/timg/files/img/w/btn_gradient_reverse.jpg') repeat-x;
    background: -webkit-linear-gradient(#007eff, #3799ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007eff, #3799ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007eff, #3799ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007eff, #3799ff); /* Standard syntax */    
}

#cnx_sidebar{
    display: inline-block;
    width: 150px;
    height: 190px;
    padding: 0 25px;
    border-left: 1px solid #ddd;
    vertical-align: top;
    margin-top: 142px;
}

#cnx_signin{
    width: 143px;
  /*margin: 70px auto 0 auto;*/
    margin: 0 auto;
}

#cnx_signin_btn{
    display: block;
  /*margin: 20px 0 0 0;*/
    padding: 9px 45px;
    border-radius: 4px;
    border: 1px solid #4EBF4E;
    background: url('../images/btn_green_gradient.jpg') repeat-x;
    background: -webkit-linear-gradient(#7BD77B, #4EBF4E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7BD77B, #4EBF4E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7BD77B, #4EBF4E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7BD77B, #4EBF4E); /* Standard syntax */    

    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
#cnx_signin_btn:active{
    background: url('../images/btn_green_gradient_reverse.jpg') repeat-x;
    background: -webkit-linear-gradient(#4EBF4E, #7BD77B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4EBF4E, #7BD77B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EBF4E, #7BD77B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4EBF4E, #7BD77B); /* Standard syntax */ 
}

#cnx_birthday_group{
    display: none;
}

#cnx_dob_wrapper{
    display: inline-block;
    border: none;
}

.cnx_group_select{
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ddd;
    margin-right: 18px;
    height: 30px;
    border-radius: 4px;
}

.cnx_select_wrapper{
    position: relative;
    display: inline-block;
    margin-left: -4px;
}

.cnx_select_wrapper:first-of-type{
    margin-left: 0;
}
.cnx_select_wrapper:after{
    content: '<>';
    font: 13px "Consolas", monospace;
    color: #aaa;
    border-bottom: 1px solid #ddd;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    pointer-events: none;
    position: absolute;
    top: 6px;
    right: 16px;
    display: block;
    width: 20px;
    text-align: center;
    padding-bottom: 2px;
}
.cnx_select_wrapper:before{
    content: '';
    pointer-events: none;
    position: absolute;
    background-color: #fff;
    top: 1px;
    right: 19px;
    width: 20px;
    height: 28px;
    display: block;
}

#cnx_login_spinner{
    display: none;
    position: absolute;
    top: 8px;
    right: -10px;
    height: 20px;
    width: 20px;
    background: url(/bart1/timg/files/img/w/anim_loading.gif) center no-repeat;
}

/**********/
/*
.general_footer{
    font-size: 12px;
    display: block;
    margin: 10px auto 30px auto;
    padding: 8px;
    border-radius: 5px;
    height: 40px;
    width: 752px;
    margin-bottom: 20px;
}

.footerbox{
    vertical-align: top;
    display: inline-block;
    width: 55px;
    height: 1px;
    float: left;
    //border: 1px solid black;
}

.footersite{
    display: inline-block;
    float: left;
}

.stretch{
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.footercontent{
    display: inline-block;
    text-align: right;
    width: inherit; 
}

.footerlink{
    display: inline-block;
    color: #111;
    margin: 0 13px 20px 0;
}
.footerlink:first-child{
    margin: 0 40px 20px 0;
}
.footerlink:last-of-type{
    margin: 0 0 20px 0;
}
.footerlink a, .pfl_footerlink a:visited{
    color: #111;
    text-decoration: none;
}
.footerlink a:hover{
    text-decoration: underline;
}
*/