/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 nov. 2014, 23:37:36
    Author     : R. Lou Carther
*/

#cnx-spnr {
    display: inline-block;
    margin: 8px -10px 0px 0px;
    
    float: right;
}

/************************* REMEMBER ************************/

#cnx-rmbr-mx {
    margin: 9px 0px 0px 167px;
    
    color: #F07F00;
    font-size: 14px;
}

#cnx-rmbr-lbl {
    overflow: auto;
}

#cnx-rmbr-ipt {
    margin-top: 0px;
    
    float: left;
}


/************************* TO_DELETE ************************/

#cnx-tdl-sprt {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); 
    
    position: fixed;
    z-index: 100;
}

/************ WAIT *************/
#cnx-tdl-wait {
    width: 350px;
    height: 50px;
    margin: auto;
    
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    color: #fff;
    font-size: 50px;
    text-align: center;
}

/************ MAIN *************/

#cnx-tdl-bdy-mx {
    border-radius: 6px;
    width: 550px;
    height: 180px;
    margin: auto;
    padding: 20px 20px 15px 20px;
    background-color: #fff;
    
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#cnx-tdl-msg {
    font-size: 15px;
}

#cnx-tdl-msg b {
    font-weight: bold;
}

#cnx-tdl-msg i {
    font-style: italic;
}

#cnx-tdl-btm {
    margin-top: 25px
}

#cnx-tdl-chcs-mx {
    float: right;
}

.cnx-tdl-chcs {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 17px;
    
    font-size: 14px;
    text-decoration: none;
}

.cnx-tdl-chcs-ccl {
    border: 1px solid #ccc;
    color: #333 !important;
}

.cnx-tdl-chcs-ccl:active {
    background-color: #eee;
}

.cnx-tdl-chcs-git {
    border: 1px solid #0b76e6;
    margin: 0px 0px 0px 10px;
    background: -webkit-linear-gradient(#3799ff, #007eff);
    background: -o-linear-gradient(#3799ff, #007eff);
    background: -moz-linear-gradient(#3799ff, #007eff);
    background: linear-gradient(#3799ff, #007eff);
    
    color: #fff !important;
}

.cnx-tdl-chcs-git:active {
    background: -webkit-linear-gradient(#007eff, #3799ff);
    background: -o-linear-gradient(#007eff, #3799ff);
    background: -moz-linear-gradient(#007eff, #3799ff);
    background: linear-gradient(#007eff, #3799ff);
}

#cnx-tdl-chcs-mr {
    margin-top: 11px;
    
    float: left;
}

#cnx-tdl-chcs-mr:hover {
    text-decoration: none;
}