/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 mai 2014, 15:40:19
    Author     : Lou CARTHER
*/

/************************ COMMON *********************/
#sig-big-fail-max {
    /*border: 1px solid #000;*/
}

#big-fail-compos {
    /*border: 1px solid #000;*/
}

/*****************************************************************/
/*********************** BIGFAIL : START TOP *********************/
#bgf-top {
    /*border: 1px solid #f00;*/
    /*width: 600px;*/
}

#bgf-double-b {
    border-right: 5px solid #bbb;
    border-left: 5px solid #bbb;
    /*margin: 0 0 0 38.98%;*/
    margin: 0 auto 0 auto;
    height: 140px;
    width: 330px;
}

/************************ BIGFAIL : END TOP **********************/
/*****************************************************************/

/*****************************************************************/
/********************** BIGFAIL : START BODY *********************/
#bgf-body {
    
}

#bgf-b-board {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 0 10px 10px; /* 10 permet de mieux center*/
    margin: 0 auto 0 auto;
    width: 550px;
    background-color: #fff; 
}

/* Regle les problèmes de centrage*/
.bgf-sp-ctr {
    /*border: 1px solid #0f0;*/
    width: 540px;
}

#bgf-b-b-title {
    padding: 0;
    margin: 10px 0 0 0;
        
    color: #222;
    font-family: Calibri, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#bgf-b-b-msg, .bgf-b-b-msg {
    padding: 0 20px;
    width: 500px !important;
    
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.4;
}

#bgf-b-b-nav {
    margin-top: 20px;
    text-align: center;
}

#bgf-b-b-nav span {
    color: #09c;
}

.bgf-b-b-nav-each {
    display: inline-block;
    
    /*color: #00f;*/
    color: #0857DE;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.bgf-b-b-nav-each:hover {
    text-decoration: underline;
}

#bgf-b-b-more {
    padding: 10px 0 10px 0;
    margin: 10px 0 0 10px;
    
    text-align: center;
}

#bgf-b-b-s-sign {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px 20px;
    background-color: #eee;
    
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}


#bgf-b-b-s-sign:hover {
    background-color: #ddd;
}

/************************ BIGFAIL : END BODY *********************/
/*****************************************************************/

/*****************************************************************/
/******************** BIGFAIL : START BOTTOM *********************/
#bgf-footer {
    
}

#bgf-f-compos {
    /*border: 1px solid #3F6219;*/
    margin: 110px auto 0 auto;
    width: 800px;
    
    font-family: Arial, sans-serif;
    text-align: center;
}

#bdg-brand {
    margin: 0 20px 0 0;
    
    font-size: 12px;
}

.bgf-f-elm {
    display: inline-block;
    margin: 0 5px 0 0;
    
    color: #0857DE;
    font-size: 12px;
    text-decoration: none;
}

.bgf-f-elm:hover {
    text-decoration: underline;
}

/********************** BIGFAIL : END BOTTOM *********************/
/*****************************************************************/