
#pm-sprt {
    border-bottom: 10px solid #FFF;
    /*height: 100%;*/
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    /*visibility: hidden;*/
    
    position: fixed;
    z-index: 1001;
    top: 0;
}

/*#pm-sprt[data-access='1'] {
    visibility: visible !important;
}*/

#pm-mx {
    /*border: 1px solid #f00;*/
    border-bottom: 4px solid #006bd7;
    width: 680px;
    /*width: 610px;*/
    height: 626px;
    margin: auto;
    background-color: transparent;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#pm-mx-clz {
    display: block;
    height: 25px;
    width: 25px;
    
    position: absolute;
    right: -35px;
    top: 30px;
    
    color: #fff;
    font-family: Garamond, "Apple Garamond", 'Century Gothic', 'Segoe UI';
    font-size: 34px;
    text-decoration: none;
    line-height: 19px;
    text-align: center;
}

#pm-mx-clz::after {
    /*content: "";*/
}

#pm-mx-header {
    height: 30px;
    
    text-align: center;
}

#pm-mx-hdr-qt {
    color: rgb(57,142,176);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 70px;
    /*letter-spacing: 1px;*/
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizelegibility;

}

/**********************************************************************************************************/
/****************************************** POSTMAN BEEPER SCOPE ******************************************/
#pm-bpr-sprt {
    /*border: 1px solid red;*/
    
    position: fixed;
    bottom: 25px;
    left: 20px;
    z-index: 1003;
}

.pm-bpr-mdl-mx {
    border: 2px solid #02BAFF;
    border-radius: 6px;
    width: 250px;
    padding: 5px 0px;
    margin: 12px 0px 0px;
    background-color: #FFF;
    
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
}


.pm-bpr-mdl-mx > * {
    padding: 0px 10px;
}

.pm-bpr-mdl-top {
    
}

.pm-bpr-mdl-top > * {
    display: inline-block;
}

.pm-bpr-mdl-btm {
    margin: 5px 0px 0px 0px;
}

.pm-bpr-mdl-u-list-mx {
    padding: 0;
    margin: 0;
    list-style: none;
    
    overflow: auto;
}

.pm-bpr-mdl-u-mx {
    margin: 0px 5px 0px 0px; 
    float: left;
}

/**********************************************************************************************************/
/**********************************************************************************************************/


/**********************************************************************************/
/************************************* HEADER *************************************/

._sig_ev_cn {
    border: 1px solid #E64038;
    border-radius: 4px;
    /*border-radius: 50%;*/
    min-height: 10px;
    min-width: 10px;
    padding: 4px;
    /*
    background: -webkit-linear-gradient(#F9525A, #E50C17);
    background: -o-linear-gradient(#F9525A, #E50C17);
    background: -moz-linear-gradient(#F9525A, #E50C17);
    background: linear-gradient(#F9525A, #E50C17);
    */
    background: #FF5D55;
    
    position: absolute;
    z-index: 1;
      
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

._sig_ev_cn[data-scp='psmn'] {
    top: -9px;
    right: -7px;
    /*
    top: 13px;
    right: 68px;
    */
}

._sig_ev_cn:not(._pmc_2_1y):not(._pmc_3_1y):not(._pmc_4_1y) {
    height: 10px !important;
    width: 10px !important;
}

._sig_ev_cn._pmc_2_1y {
/*#pm-cnval._pmc_2_1y {*/
    /*border-radius: 5px;*/
    right: -7px;
    /*right: 65px;*/
}

._sig_ev_cn._pmc_3_1y {
/*#pm-cnval._pmc_3_1y {*/
    /*border-radius: 5px;*/
    right: -12px;
    /*right: 58px;*/
}

._sig_ev_cn._pmc_4_1y {
/*#pm-cnval._pmc_4_1y {*/
/*    border-radius: 5px;*/
    right: 19px;
    /*right: 52px;*/
}

/********************************************************************************/
/************************************* BODY *************************************/

#pm-mx-body {
    border-bottom: 5px solid rgb(16, 110, 255);
    /*border-radius: 5px;*/
    height: 585px;
}

#pm-mx-bd-hdr {
    border-radius: 4px 4px 0 0;
    height: 65px;
    background-color: #fff;
    
    text-align: center;
}

#pm-mx-bd-list-mx {
    border-top: 1px solid #DEE3ED;
    border-right: 1px solid #DEE3ED;
    border-left: 1px solid #DEE3ED;
    /*height: 410px;*/
    height: 428px;
    /*height: 479px;*/
    /*height: 514px;*/
    padding: 30px 0px 15px 10px;
    background-color: rgb(245,248,250);
    
    overflow-y: scroll;
}

#pm-mx-bd-list-spnr-mx {
    padding: 20px 0px;
    
    color: #556A7F;
/*    color: #576772;*/
    font-size: 40px;
    text-align: center;
}

#pm-mx-bd-list-none-mx {
    /*padding: 20px 0px;*/
    
    color: #556A7F;
    font-family: Arial, sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
}

#pm-mx-bd-list-spnr-none {
    display: inline-block;
}

/************** MODEL (START) **************/

.pm-mdl-mx {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color:  #DEE7ED;
    /*
    border-top: 1px solid #E1E8ED;
    border-right: 1px solid #E1E8ED;
    border-bottom: 1px solid #E1E8ED;
    border-left: 1px solid #E1E8ED;
    */
    margin: 8px 70px;
    /*margin: 8px 55px;*/
    /*margin: 0px 60px;*/
    padding: 10px 10px 0px 10px;
    background-color: #fff;
    cursor: pointer;
    
    overflow: visible;
    /*overflow: auto;*/
    position: relative;
}
.pm-mdl-mx::before{
    position: absolute;
    top: 5px;
    left: -25px;
    
    color: #B2C1C8;
    font-family: Fontawesome;
    font-size: 18px;
}
.pm-mdl-mx[data-thm='XRCT']::before {
    content: "\f086";
    color: #AED4AF;
}
.pm-mdl-mx[data-thm='XART_USTG']::before, 
.pm-mdl-mx[data-thm='XTST_USTG']::before {
    content: "\f1fa";
    color: #DE991C;
}
.pm-mdl-mx[data-thm='XEVL']::before {
    content: "\f004";
    color: rgba(15, 98, 158, 0.87);
}
.pm-mdl-mx[data-thm='XTSM']::before {
    content: "\f10d";
    color: rgba(15, 98, 158, 0.87);
}
.pm-mdl-mx[data-thm='XTSR']::before {
    content: "\f086";
    color: #AED4AF;
}
.pm-mdl-mx[data-thm='XTSL']::before {
    content: "\f004";
    color: rgba(224, 85, 103, 0.8)
}
.pm-mdl-mx[data-thm='XUREL']::before {
    content: " ";
    display: inline-block;
    background: url('http://trenqr.com/bart1/timg/files/img/r/fol.png');
    background-size: 100%;
    background-position: 0 0;
    width: 20px;
    height: 20px;
    
    position: absolute;
    left: -25px;
}
.pm-mdl-mx[data-thm='XTRABO']::before {
    content: " ";
    display: inline-block;
    background: url('http://trenqr.com/bart1/timg/files/img/r/tr_cntd_vio.png');
    background-size: 100%;
    background-position: 0 0;
    width: 20px;
    height: 20px;
    
    position: absolute;
    left: -25px;
}
.pm-mdl-mx[data-thm='XFVAR']::before {
    content: "\f005";
    color: #FFCC4D;
}

/*.pm-mdl-mx:last-child {
    border-bottom: 1px solid #DEE7ED;
}*/

.pm-mdl-mx.visited {
    /*
    border-top: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
    */
    /*
    border: 1px solid #B4C1CA !important;
    background-color: #E1E5EA;
    */
    border: 1px solid #238FD8 !important;
    /*border: 1px solid rgba(180, 193, 202, 0.52) !important;*/
    /*background-color: rgba(225, 229, 234, 0.7);*/
}
.pm-mdl-mx.visited[data-thm="XRCT"] {
    border-color: #AED4AF !important;
}
.pm-mdl-mx.visited[data-thm='XART_USTG']::before, 
.pm-mdl-mx.visited[data-thm='XTST_USTG']::before {
    border-color: #E4B052 !important;
}
.pm-mdl-mx.visited[data-thm="XEVL"] {
    border-color: #2E76AA !important;
}
.pm-mdl-mx.visited[data-thm="XTSM"] {
    border-color: #2E76AA !important;
}
.pm-mdl-mx.visited[data-thm="XTSR"] {
    border-color: #AED4AF !important;
}
.pm-mdl-mx.visited[data-thm="XTSL"] {
    border-color: #E47684 !important;
}
.pm-mdl-mx.visited[data-thm="XUREL"] {
    border-color: #DEE7ED !important;
    cursor: default !important;
}
.pm-mdl-mx.visited[data-thm="XTRABO"] {
    border-color: #A982D4 !important;
}
/*
#pm-mx-bd-list-mx .pm-mdl-mx:last-child {
    border-bottom: 1px solid #E1E8ED;
}
*/
.pm-mdl-lt {
    float: left;
}

.pm-mdl-upic-hf {
    display: inline-block;
    border: none;
    border-radius: 3px;
    width: 40px;
    height: 40px;
        
    position: relative;
    
    outline: 0;
    text-decoration: none;
}

.pm-mdl-upic-img {
    border: none;
    border-radius: 3px;
    outline: 0;
}

.pm-mdl-upic-i-fade {
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.015);
    
    position: absolute;
    top: 0px;
    left: 0px;
}

.pm-mdl-bt {
    /*border: 1px solid #f00;*/
    height: 20px;
    margin-top: 8px;
    
    /*clear: both;*/
    overflow: auto;
}

.pm-mdl-bt-time, .pm-mdl-bt-time-athr {
    float: right;
    
    color: #8899A7;
    font-family: Calibri, Arial, sans-serif;
    font-size: 12px;
    /*line-height: 20px;*/
}

.pm-mdl-bt-time-athr {
    color: #3A5C79 !important;
}

.pm-mdl-prvw[data-obtype="react"], 
.pm-mdl-prvw[data-obtype="article"], 
.pm-mdl-prvw[data-obtype="testy"] 
{
    border: 1px solid #C9CFE0;
    /*border: 1px solid #D8DBE4;*/
    border-radius: 4px;
    /*width: 330px;*/ /* [DEPUIS 14-04-16] */
    width: 385px;
    margin: 5px auto 15px auto;
    padding: 10px;
    background-color: #F4F4F4;
    
    color: #303742;
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
    text-align: justify;
    /*word-break: break-all;*/
    word-wrap: break-word;
}

.pm-mdl-rt {
    margin-left: 50px;
    
    position: relative;
    
    font-family: Calibri, Arial, Sans-serif;
}

.pm-mdl-rt b {
    color: #3D3D3D;
    font-weight: normal;
}

.pm-mdl-rt q {
    color: #3D3D3D;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

.pm-mdl-txt {
    font-size: 14px;
}

.pm-mdl-txt-psd {
    color: #4678AA;
    font-weight: bold;
}

.pm-mdl-txt-mst {
    border-bottom: 1px dotted;
    
    color: #000;;
    /*color: rgb(85, 26, 139);;*/
    /*color: #106EFF;*/
}

.pm-mdl-txt-mst:hover {
    border-bottom: none;
    
    text-decoration: none !important;
}

.pm-mdl-txt-psd, .pm-mdl-txt-mst { 
    text-decoration: none;
}

.pm-mdl-txt-psd:hover, .pm-mdl-txt-mst:hover {
    text-decoration: underline;
}

.pm-mdl-vstd-hrf {
    border: none;
    outline:0;
    
    position: absolute;
    top: -5px;
    right: 0px;
}
.pm-mdl-vstd-hrf::before {
    content: "\f06e";
    color: #d6dad7;
    font-family: "FontAwesome";
}

.pm-mdl-vstd-icn {
    border: none;
    height: 15px;
    outline:0;
}

.pm-mdl-spcl-icns-mx {
    width: 100%;
    height: 1px;
  
    position: relative;
}

.pm-mdl-spcl-icn[data-type='art_deny'] {
    display: inline-block;
    
    position: absolute;
    top: -18px;
    right: 0px;
    
    color: #7B92B0;
    font-size: 14px;
}

/************** MODEL (END) **************/

#pm-mx-bd-l-ftr {
    border-top: 1px solid rgba(0, 56, 119, 0.09);
    height: 36px;
    padding: 10px 0px;
    background-color: rgb(245,248,250);
    /*box-shadow: 0 -1px 1px rgba(0,0,0,0.09);*/
    
    text-align: center;
}

#pm-mx-odr-tgr {
    display: block;
    border: 1px solid transparent;
    width: 100px;
    margin: 0px auto 5px auto;
/*    margin: 10px auto;*/
    padding: 5px 35px;
    
    color: #ccc;
    font-family: Calibri, sans-serif;
    text-decoration: none;
    text-align: center;
}

#pm-mx-odr-tgr:hover {
    border: 1px solid #DEDEDE;
    background-color: #EFEFEF;
    
    color: #A5A5A5;
}

/********************************************************************************/
/************************************ FOOTER ************************************/

#pm-mx-footer {
    /*border: 1px solid #fff;*/
    /*border-radius: 0 0 10px 10px;*/
    /*height: 40px;*/
    width: 100%;
    
/*    position: absolute;
    bottom: 0;*/
}