<!DOCTYPE html>
<html lang="fr">
<head>
<title>Page de Test de WOS : Page par défaut du système Welcome pour le Produit TEST_PROD.</title>
<meta http-equiv="Content-Language" content="fr">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta http-equiv="keywords" name="keywords" content="page test, test, wos, fr, francais">
<meta http-equiv="description" name="description" content="Simple page de test. Voici la page officielle pour le système Welcome en ce qui concerne TEST_PRODUCT !">
<meta name="Geography" content="France">
<meta name="country" content="France">
<meta name="Language" content="fr">
<meta name="Copyright" content="DEUSLYNN ENTREPRISE, ALL RIGHTS RESERVED">
<meta name="Author" content="DEUSLYNN ENTREPRISE">
<meta http-equiv="cache-control" content="cache">
<meta http-equiv="pragma" content="cache">
<link rel="stylesheet" type="text/css" href="http://dsly.projects/ttplus.dev/temp/test_id_dvt_2.css">
</head>
<body>
    <div sklt-id="mdlidtestn2">
	<h2><span decotx-id="test_deco_id10">Page WELCOME 2 !</span></h2>
	<p dvt-id="test_id_dvt_4">
		<span decotx-id="test_deco_id11">Ceci est la seconde page du produit PROD_TEST.<br/>
		Cette page n'est visible que parce que vous (utilisateur) n'est pas connecté.</span>
	<br/>
	<br/>
		<u>NOTE : </u>
		<span decotx-id="test_deco_id12" id="you">Utile pour tester par exemple la gestion des langues (je viens de france, je veux ma page en anglais).<br/>
		Ou pour tester le systeme EXT_FILES. Ce texte est en rouge pour tous les navigateurs sauf <b>Internet Explorer</b> ou le bloc est entouré de bordures rouges.</span>
	</p>
	<div dvt-id="test_id_dvt_2" class="entourer">
		<p>
			<span decotx-id="test_deco_id4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non sagittis urna. 
			Phasellus quam libero, auctor sed mollis vehicula, malesuada sit amet felis. 
			Vestibulum ac velit nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
			Sed dapibus diam rutrum tortor tempor, ac dapibus felis facilisis. Cras fermentum urna neque, eget facilisis ipsum porttitor id. Duis in lacus massa. 
			Pellentesque felis leo, volutpat sed condimentum a, posuere sit amet lorem. Phasellus dignissim vitae lacus eget imperdiet. 
			Proin porttitor, ipsum sed dapibus lacinia, lacus quam auctor enim, sed volutpat est urna consectetur nunc. Mauris faucibus nisi nec lorem imperdiet, et bibendum felis consequat. 
			Vivamus aliquam neque ac urna consequat tincidunt.</span>
		</p>
	</div>
	<ul dvt-id="test_id_dvt_5">
		<li><a href="#"><span decotx-id="test_deco_id13">Aller vers la page d'accueil</span></a></li>
		<li><a href="#"><span decotx-id="test_deco_id14">Aller vers la page de connexion</span></a></li>
	</ul>
</div>
</body>
</html> 
