.trend-mini-solo {
    /*border: 1px solid black;*/
}


.trend-mini-solo ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.t-m-s-2 {
    display: block;
    width: 225px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    margin-top: -26px;
}

.t-m-s-2 a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: calibri;
    padding: 0 0 0 5px;
    margin: 0;
    text-align: left;
    line-height: 22px;
}

.t-m-s-2 a:hover {
    text-decoration: underline;
}

.t-m-s-3 {
    display: block;
    border: 1px solid purple;
    padding: 0;
    margin: 0;
    background-color: purple;
    width: 62px;
    height: 21px;
    border-radius: 0px 5px 5px 0;
    
    position: relative;
    float: right;
    margin: -75px 156px 0 0px;
    
    color: white;
    font-family: calibri;
    /*font-weight: bold;*/
    text-align: center;
    line-height: 22px;
}

/***************************** DOWN ***********************************/
.post-mini-solo-down {
    /*border: 1px solid black;*/
    width: 225px;
    overflow: auto;
}

.post-mini-solo-down li {
    float: left;
}


.solo-down1 {
    height: 12px;
    width: 69px;
    padding-top: 3px;
    
    font-family: arial;
    font-style: italic;
    font-size: 11px;
}

.solo-down2 {
    /*border: 1px solid black;*/
    /*height: 15px;*/
    width: 105px;
    /*margin-left: 70px;*/
    
    color: red;
    text-align: right;
    line-height: 18px;
    font-weight: bold;
    font-size: 14px;
    @import url("http://fonts.googleapis.com/css?family=Lily+Script+One");
    font-family: 'Lily Script One', cursive;
}

.solo-down2 span {
    font-style: italic;
}

.solo-down3 {
    border: 2px solid black;
    margin: 1px 0 0 3px;
    border-radius: 5px;
    height: 14px;
    width: 42px;
    
    line-height: 15px;
    color: black;
    font-family: calibri;
    font-size: 12px;
    text-align: center;
}