
/* 
    Created on : 1 déc. 2014, 13:52:47
    Author     : Lou Carther
*/

#asdr-w-mx {
    border: 1px solid #cecece;
    width: 321px;
    height: 590px;
    margin: 91px 0px 0px 0px;
    padding: 10px;
    background-color: #fff;
    
    position: relative;
    left: -3px;
    z-index: 0;
}

#asdr-w-ads-tle {
    text-align: center;
}

#asdr-w-ads-tle-txt {
    color: rgb(51, 153, 255);
    /*color: rgb(255, 193, 79);*/
    /*color: #cecece;*/
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#asdr-w-ads-t {
    width: 300px;
    height: 250px;
    margin: 10px auto 0px auto;
}

#asdr-w-ads-b {
    width: 300px;
    height: 250px;
    margin: 30px auto 0px auto;
}

#asdr-w-ads-wa {
    margin-top: 13px;
    /*margin-top: 10px;*/
    text-align: center;
}

#asdr-w-ads-wa-lk {
    color: #1F9DEA;;
    /*color: #2564EA;*/
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}