/*
.my_controur {
    border: 1px solid lightgrey;
}
*/
#imprint-tr-form {
    /*border: 1px solid black;*/
    margin: 0 auto;
    padding: 5px;
    width: 505px;
}

#imprint-tr-form form {
    /*border: 1px solid grey;*/
    border-radius: 1px;
}

#impt-tr-enter {
    border: 1px solid rgb(180,180,180);
    padding: 15px 30px 5px 30px;
    background-color: rgb(251,251,251);
}

#impt-tr-enter textarea {
    border: 1px solid lightgrey;
    resize: none;
    width: 438px;
    height: 50px;
    border-radius: 3px;
}

#impt-tr-img-cntr-init {
    background-color: rgb(200,200,200);
        
    /*border-top: 1px solid grey;*/
    border-right: 1px solid rgb(180,180,180);
    border-bottom: 1px solid rgb(180,180,180);
    border-left: 1px solid rgb(180,180,180);
    
    /*border: 1px solid grey;*/
    padding-left: 30px;
    width: 473px;
    height: 30px;
}

#impt-tr-img-cntr-init a {
    text-decoration: none;
    color: rgb(20,20,20);
    font-family: calibri;
    font-weight: bold;
    font-size: 13px;
}

#impt-tr-send-cntr {
    /*border: 1px solid red;*/
    height: 35px;
    padding-top: 4px;
    /*background-color: white;*/
}

#impt-tr-send-cntr input {
    border-radius: 5px;
    margin-left: 396px;
    width: 80px;
    height: 28px;
}

.add_img_tr {
    content: "Add file";
}